@charset 'UTF-8';

body {
    background-attachment: fixed;
    background-color: #000;
    background-image: url(/assets/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 21px;
    font-weight: 400;
    color:#fff;    
}
h2 {
    color:#fff;
}
h3{
    font-size: 3.6rem;
    font-weight: 500;
}
a:visited { color:#fff;}
section {
    border-radius: 30px;
}

section.introduction {
    background-color:#120052 ;    
    background: linear-gradient(to right top, #120052 0%, #33274f 50%, #3cb9fc 100%);    
}

section.about {
    background-color:#124d86;
    background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
}
h3.home {
    color: #fff;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
}

row.card {
    background-color:#124d86;
    background: linear-gradient(150deg, #124d86 0%, #14204e 100%);
    border-radius: 30px;
    border: 3px solid #fff;
    color:#fff;
}

row.card img {
    max-width: 250px;
}

a.button,
a.button:link,
a.button:visited,
[type=submit]:link,
[type=submit]:visited,
button:link,
button:visited {
    font-weight: 500;
    background-color: rgba(60,185,252,1);
    background-image: linear-gradient(to right top,  rgba(60,185,252,1) 11.2%, rgba(0,86,131,1) 91.1% );
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    opacity: 1;

    
}

a.button:hover,
[type=submit]:hover,
button:hover {
    background-color: rgba(0,86,131,1);
    background-image: linear-gradient(to left bottom,  rgba(60,185,252,1) 11.2%, rgba(0,86,131,1) 91.1% );
    border-radius: 990px;
    border: 2px solid #fff;
    color: #fff;
}

h1.logo img {
    width: 250px; 
    height: 206px; 
    margin: 20px auto;
}

h1.logo span {
    display: none;
}

/* h1.logo {
    background-color:transparent;
    background: url(/assets/images/logo.png) no-repeat;
    color: #fff;
    font-size: 1px;
    height: 211px;
    margin: 20px auto;
    width: 258px;
} */