---
layout: compress
---
<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/WebPage">

    {% include head.html %}

    <body itemscope itemtype="http://schema.org/WebPage">

        <video 
            muted="" 
            noaudio="" 
            playsinline="" 
            loop="" 
            autoplay="" 
            id="video" 
            poster="/assets/videos/background.jpg"  
            class="video"> 
            <source muted="" noaudio="" data-src="/assets/videos/test.mp4" type="video/mp4" src="/assets/videos/test.mp4">
        </video>

        <header>
            <figure>
                <a href=" / " tabindex="0"> 
                    <img src="/assets/images/logo-white.min.svg" id="eaglerex" alt="Logo of {{ site.title | escape }}" width="583" height="438" class="logo"> 
                </a>
                <figcaption>{{ site.title | escape }}</figcaption>
            </figure>
    
            <h1>{{ site.title | escape }}</h1>
            <h2><em>{{ site.subtitle | escape }}</em></h2>
            <h3>The Eagle Rex Cycling Club provides effective fitness training methods and workout programs to cyclists of all skill and experience levels.</h3>
            <p>
                <a href="#section" title="Learn more">
                    <img src="assets/images/arrow.svg" class="arrow" width="300" height="300" alt="Learn more" />
                </a>
            </p>
        </header>

        <main class="container text-center ">
            <section id="section" class="grid-flex content">
                <div class="card flex-1 justify-center padding-3">
                    <h3>Training Plans</h3>
                    <p>Combine elements of CrossFit and Strength Training to build on your strengths, target weaknesses and achieve peak performance.</p>
                    <a href="/training-plans.html" class="button primary">
                        Access our training plans
                    </a>                    
                </div>

                <div class="card flex-1 justify-center padding-3">
                    <h3>Workout Routines</h3>
                    <p>Get access to all the Eagle Rex cycling workout routines.<br />Break through your current limits at your own pace with our proven method.</p>
                    <a href="/workout-routines.html" class="button primary">
                        Access our workout routines
                    </a>                    
                </div>
                </section>

                <section id="section-2" class="grid-flex">
                <div class="card flex-1 justify-center padding-3">
                    <h3>Free Zwift Resources</h3>
                    <p>Reach Your Physique Goals and Achieve Peak Performance.</p>
                    <a href="/free-zwift-resources.html" class="button primary">
                        Access our zwift resources
                    </a>                    
                </div>
                
                <div class="card flex-1 justify-center padding-3">
                    <h3>About Us</h3>
                    <p>A little bit about who we are, and what we try to be.</p>
                    <a href="/about.html" class="button primary">
                        More information
                    </a>                    
                </div>
                </section>
                
                <section id="section-3" class="grid-flex">                
                
                <div class="card flex-1 justify-center padding-3">
                    <h3>Facebook</h3>
                    <p>Our main Facebook group for questions, support and just sharing Eagle Rex love</p>
                    <a href="/" class="button primary">                        
                        Find us on Facebook
                    </a>
                    
                </div>

                <div class="card flex-1 justify-center padding-3">
                    <h3>Strava</h3>
                    <p>This is the page where herdlings strut their stuff</p>
                    <a href="https://www.strava.com/clubs/eaglerex" class="button primary">
                        Join us on Strava                  
                    </a>
                    
                </div>
            
                <hr style="clear: both;visibility: hidden;" />
            </section>
        </main>

        {% include footer.html %}

    </body>
</html>