---
layout: compress
---
<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body itemscope itemtype="http://schema.org/WebPage">

        <main class="container top text-center">
            <h1 class="logo">
                <a href="{{ " / " | site_url }}" title="{{ site.title | escape }}">   
                    
                {% responsive_image_block %}
                path: assets/images/originals/logo.png  
                alt: {{ site.title | escape }}
                {% endresponsive_image_block %}                    

                </a>    
                <span>
                    {{ site.title | escape }}
                </span>                
            </h1>
        
            <h2 title="{{ site.subtitle | escape }}"><em>{{ site.subtitle | escape }}</em></h2>
        
            <section class="introduction grid-flex">
                <row class="flex-1 padding-1">                    
                    <h3 class="home">The Eagle Rex Cycling Club provides effective fitness training methods and workout programs to cyclists of all skill and experience levels.</h3>
                    
                    <p><a href="https://www.zwiftpower.com/team.php?id=15793&do=join" class="button" alt="Join TEAM EAGLE REX" title="Join TEAM EAGLE REX">Join TEAM EAGLE REX</a></p>
                </row>
            </section>

            <section class="grid-flex">
                <row class="card flex-1 padding-1">
                    <h4><a href="/training-plans.html" title="Training Plans">Training Plans</a></h4>
                    <a href="/training-plans.html" title="Training Plans">
                        {% responsive_image path: assets/images/originals/training.png alt: "Training Plans" %}                        
                    </a>               
                    <p>Combine elements of CrossFit and Strength Training to achieve your ultimate goals, build on your strengths, target weaknesses and achieve peak performance.</p>
                </row>

                <row class="card flex-1 padding-1">
                    <h4><a href="/workout-routines.html" title="Workout Routines">Workout Routines</a></h4>
                    <a href="/workout-routines.html" title="Workout Routines">
                    {% responsive_image path: assets/images/originals/workouts.png alt: "Workout Routines" %}
                    </a>
                    <p>Get access to all the Eagle Rex cycling workout routines. Break through your current limits with our proven method.</p>
                </row>

                <row class="card flex-1 padding-1">
                    <h4><a href="/free-zwift-resources.html" title="Free Zwift Resources">Free Zwift Resources</a></h4>
                    <a href="/free-zwift-resources.html" title="Free Zwift Resources">
                    {% responsive_image path: assets/images/originals/free.png alt: "Free Zwift Resource" %}                    
                    </a>
                    <p>Reach Your Physique Goals and Achieve Peak Performance.</p>
                </row>
                
                <row class="card flex-1 padding-1">
                    <h4><a href="/about.html" title="About Us">About Us</a></h4>
                    <a href="/about.html" title="About Us">
                    {% responsive_image path: assets/images/originals/us.png alt: "About Us" %}
                    </a>
                    <p>A little bit about who we are, and what we try to be.</p>
                </row>

                <row class="card flex-1 padding-1">
                    <h4><a href="/" title="Facebook">Facebook</a></h4>
                    <a href="/" title="Facebook">
                    {% responsive_image path: assets/images/originals/fb.png alt: "Facebook" %}
                    </a>
                    <p>Our main Facebook group for questions, support and just sharing Eagle Rex love</p>
                </row>

                <row class="card flex-1 padding-1">
                    <h4><a href="https://www.strava.com/clubs/eaglerex" title="Strava">Strava</a></h4>
                    <a href="https://www.strava.com/clubs/eaglerex" title="Strava">
                    {% responsive_image path: assets/images/originals/strava.png alt: "Strava" %}                    
                    </a>
                    <p>Where herdlings strut their stuff</p>                    
                </row>
            
                <hr style="clear: both;visibility: hidden;" />
            </section>
        </main>

        {% include footer.html %}

    </body>
</html>