---
layout: compress
---
<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/WebPage">

    {% include head.html %}

    <body itemscope itemtype="http://schema.org/WebPage">

        <main class="container top text-center">
            <h1 class="logo">
                <a href="{{ " / " | site_url }}" title="{{ site.title | escape }}">
                {% responsive_image_block %}
                path: assets/images/image-icon/logo.png  
                alt: {{ site.description | escape }}
                {% endresponsive_image_block %}
                </a>    
                <span>
                    {{ site.title | escape }}
                </span>                
            </h1>
        
            <h2 title="{{ site.description | escape }}"><em>{{ site.subtitle | escape }}</em></h2>
        
            <h3 class="home">The Eagle Rex Cycling Club provides effective fitness training methods and workout programs to cyclists of all skill and experience levels.</h3>                    
            
            
            <section class="grid-flex padding-3">
                <div class="card flex-1 padding-1">
                    <a href="/training-plans.html">
                        <h4>Training Plans</h4>
                        {% responsive_image path: assets/images/image-icon/training.png alt: "Icon representing Training Plans" %}                        
                    </a>               
                    <p>Combine elements of CrossFit and Strength Training to achieve your ultimate goals, build on your strengths, target weaknesses and achieve peak performance.</p>
                </div>

                <div class="card flex-1 padding-1">
                    <a href="/workout-routines.html">
                        <h4>Workout Routines</h4>                        
                        {% responsive_image path: assets/images/image-icon/workouts.png alt: "Icon representing Workout Routines" %}
                    </a>
                    <p>Get access to all the Eagle Rex cycling workout routines. Break through your current limits with our proven method.</p>
                </div>

                <div class="card flex-1 padding-1">
                    <a href="/free-zwift-resources.html">
                        <h4>Free Zwift Resources</h4>            
                        {% responsive_image path: assets/images/image-icon/zwift.png alt: "Icon representing our Free Zwift Resources" %}                    
                    </a>
                    <p>Reach Your Physique Goals and Achieve Peak Performance.</p>
                </div>
                
                <div class="card flex-1 padding-1">
                    <a href="/about.html">
                    <h4>About Us</h4>
                    {% responsive_image path: assets/images/image-icon/us.png alt: "Icon representing the About Us section" %}
                    </a>
                    <p>A little bit about who we are, and what we try to be.</p>
                </div>

                <div class="card flex-1 padding-1">
                    <a href="/">
                        <h4>Facebook</h4>
                        {% responsive_image path: assets/images/image-icon/fb.png alt: "Icon representing Facebook" %}
                    </a>
                    <p>Our main Facebook group for questions, support and just sharing Eagle Rex love</p>
                </div>

                <div class="card flex-1 padding-1">
                    <a href="https://www.strava.com/clubs/eaglerex">
                        <h4>Strava</h4>    
                        {% responsive_image path: assets/images/image-icon/strava.png alt: "Icon representing Strava" %}
                    </a>
                    <p>This is the page Where herdlings strut their stuff</p>                    
                </div>
            
                <hr style="clear: both;visibility: hidden;" />
            </section>
        </main>

        {% include footer.html %}

    </body>
</html>