---
layout: compress
---
<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}" itemscope itemtype="http://schema.org/WebPage">

    {% include head.html %}

    <body itemscope itemtype="http://schema.org/WebPage">

        <main class="container top text-center">
        
            <h1 class="logo">
                <a href="{{ " / " | site_url }}" title="{{ site.title | escape }}">
                    {% responsive_image_block %}
                    path: assets/images/image-icon/logo.png  
                    alt: {{ site.description | escape }}
                    {% endresponsive_image_block %}                                        
                </a>    
                <span>
                    {{ site.title | escape }}
                </span>                
            </h1>
                        
            <h2 title="{{ site.description | escape }}"><em>{{ site.subtitle | escape }}</em></h2>
            <h3 class="home">The Eagle Rex Cycling Club provides effective fitness training methods and workout programs to cyclists of all skill and experience levels.</h3>                    

            <section class="about grid-flex">
                <div class="flex-1 padding-1 text-left">
                    {{ content }}                    
                </div>                
            </section>
                
        </main>

    {% include footer.html %}

    </body>
</html>