---
layout: compress
---
<!DOCTYPE html>
    <html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body itemscope itemtype="http://schema.org/WebPage">

        <main class="container top text-center">
        
            <h1 class="logo">
                <a href="{{ " / " | site_url }}" title="{{ site.title | escape }}">
                    {% responsive_image_block %}
                    path: assets/images/image-icon/logo.png  
                    alt: {{ site.title | escape }}
                    {% endresponsive_image_block %}                                        
                </a>    
                <span>
                    {{ site.title | escape }}
                </span>                
            </h1>
                        
            <h2 title="{{ site.subtitle | escape }}"><em>{{ site.subtitle | escape }}</em></h2>
            
            <section class="introduction grid-flex">
                <row class="flex-1 padding-1">                    
                    <h3 class="home">The Eagle Rex Cycling Club provides effective fitness training methods and workout programs to cyclists of all skill and experience levels.</h3>
                    
                    <p><a href="https://www.zwiftpower.com/team.php?id=15793&do=join" class="button"alt="Join TEAM EAGLE REX" title="Join TEAM EAGLE REX">Join TEAM EAGLE REX</a></p>
                </row>
            </section>
        
            <section class="about grid-flex">
                <row class="flex-1 padding-1 text-left color-white">
                    {{ content }}                    
                </row>                
            </section>
                
        </main>

    {% include footer.html %}

    </body>
</html>