@charset 'UTF-8';

body {
    background-attachment: fixed;
    background-color: #000;
    background-image: url(/assets/images/background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    color:#fff;
}

h4 a, h4 a:link, h4 a:visited, h4 a:focus  {
    text-transform: uppercase;
    color:#fff;
}


p a:link, p a:visited {
    color:#3cb9fc;
}

p a:active,p a:hover {
    color:#3cb9fc;
}

p a:focus {
    color:#fff;
}
  
h2 {
    color:#fff;
}

img:hover
{
     opacity: 0.1;
     filter: alpha(opacity=30);
}
section {
    border-radius: 30px;
}

section.about {
    background-color:#120052;
    background: linear-gradient(150deg, #120052 0%, #33274f 50%, #3cb9fc 100%);
}
h3.home {
    color: #fff;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    text-align: center;
}

row.card {
    background-color:#120052;
    background: linear-gradient(150deg, #120052 0%, #33274f 50%, #3cb9fc 100%);
    border-radius: 30px;
    border: 3px solid #fff;
    color:#fff;
    min-width: 300px;
}

row.card img {
    max-width: 125px;
}

a.button,
a.button:link,
a.button:visited,
[type=submit]:link,
[type=submit]:visited,
button:link,
button:visited {
    font-weight: 500;
    background-color: #120052;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    opacity: 1;

    
}

a.button:hover,
[type=submit]:hover,
button:hover {
    background-color: #3cb9fc;
    border-radius: 990px;
    border: 2px solid #fff;
    color: #fff;
}

h1.logo img {
    width: 250px; 
    height: 206px; 
    margin: 20px auto;
}

h1.logo span {
    display: none;
}
