Code Beautifier
CSS Formatter and Optimiser
based on csstidy 1.3
language: en de fr ptAddThis
CSS Input
CSS-Code:
html,
body {
  overflow-x: hidden;
}

video,
img {
  margin: 0;
  vertical-align: top;
}

img.logo {
  height: auto;
  max-width: 16.18%;
  min-width: 1.618rem;
}

img.arrow {
  height: 60px;
  max-width: 60px;
}

video {
  filter: brightness(45%);
  height: auto;
  left: 0;
  min-height: calc(100%);
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: auto;
  z-index: -100;
}

header {
  color: white;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

header h1,
header h2,
header h3,
header figcaption {
  color: #fff;
}

.container {
  position: relative;
}

.cl-white {
  color: var(--cl-white);
}
.card {
  background: linear-gradient(#fbfbfd 0%, #f5f5f7 100%);
}

img#banner {
  width: 100vw;
}

CSS from URL:
 

 Code Layout
Compression (code layout):

Standard (balance between readability and size)
Custom template
Options
 Preserve CSS
 Sort Selectors (caution)
 Sort Properties
Regroup selectors

Merge selectors with the same properties (fast)
Optimise shorthands

Safe optimisations
 Compress colors
 Compress font-weight
 Lowercase selectors
Case for properties:
 None
 Lowercase
 Uppercase
 Remove unnecessary backslashes
 Remove last ;
 Discard invalid properties

CSS2.1
 Add timestamp
 Output as file
 Messages
3
Invalid property in CSS2.1: overflow-x
24
Invalid property in CSS2.1: filter
29
Invalid property in CSS2.1: object-fit
30
Invalid property in CSS2.1: object-position
38
Optimised color: Changed "white" to "#FFF"
Input: 0.857KB, Output:0.696KB, Compression Ratio: 18.8%(-161 Bytes)
Select or Copy to Clipboard
.card {
background:linear-gradient(#fbfbfd0%,#f5f5f7100%);
}

.cl-white {
color:var(--cl-white);
}

.container {
position:relative;
}

header {
color:#FFF;
min-height:100vh;
position:relative;
text-align:center;
width:100%;
}

header h1,header h2,header h3,header figcaption {
color:#fff;
}

html,body {
overflow-x:hidden;
}

img#banner {
width:100vw;
}

img.arrow {
height:60px;
max-width:60px;
}

img.logo {
height:auto;
max-width:16.18%;
min-width:1.618rem;
}

video {
filter:brightness(45%);
height:auto;
left:0;
min-height:calc(100%);
min-width:100%;
object-fit:cover;
object-position:center;
position:absolute;
top:0;
width:auto;
z-index:-100;
}

video,img {
margin:0;
vertical-align:top;
}