html,
body {
  overflow-x: hidden;
}

video,
img {
  margin: 0;
  vertical-align: top;
}

img.logo {
  height: auto;
  max-width: 16.18%;
  min-width: 1.618rem;
}

img.arrow {
  height: 60px;
  max-width: 60px;
}

video {
  filter: brightness(45%);
  height: auto;
  left: 0;
  min-height: calc(100%);
  min-width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  width: auto;
  z-index: -100;
}

header {
  color: white;
  min-height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;
}

header h1,
header h2,
header h3,
header figcaption {
  color: #fff;
}

.container {
  position: relative;
}

.cl-white {
  color: var(--cl-white);
}
.card {
  background: linear-gradient(#fbfbfd 0%, #f5f5f7 100%);
}

img#banner {
  width: 100vw;
}

.card {
background:linear-gradient(#fbfbfd0%,#f5f5f7100%);
}

.cl-white {
color:var(--cl-white);
}

.container {
position:relative;
}

header {
color:#FFF;
min-height:100vh;
position:relative;
text-align:center;
width:100%;
}

header h1,header h2,header h3,header figcaption {
color:#fff;
}

html,body {
overflow-x:hidden;
}

img#banner {
width:100vw;
}

img.arrow {
height:60px;
max-width:60px;
}

img.logo {
height:auto;
max-width:16.18%;
min-width:1.618rem;
}

video {
filter:brightness(45%);
height:auto;
left:0;
min-height:calc(100%);
min-width:100%;
object-fit:cover;
object-position:center;
position:absolute;
top:0;
width:auto;
z-index:-100;
}

video,img {
margin:0;
vertical-align:top;
}