<footer class="center text-center color-white">
        <p>Copyright &#169; The Eagle Rex Cycling Club 2021. All rights reserved.</p>
        <a class="github-fork-ribbon" href="https://www.zwiftpower.com/team.php?id=15793&do=join" data-ribbon="Join TEAM EAGLE REX"
            title="Join TEAM EAGLE REX">Join TEAM EAGLE REX</a>
    </footer>
    <script src="{{ site.baseurl }}/assets/js/main.js" ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
   {% include analytics.html %}
