<head>  
    <title>{%if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Metatags -->
    {% include metatags.html %}

    <!-- Links -->
    <link rel="alternate" href="{{ site.url }}" hreflang="{{ site.lang }}" />
    <link rel="manifest" href="/manifest.json">
    
    <!-- Inline critical css -->
    <style type="text/css">
        {% include eaglerex.css %}
    </style>

    <!--link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/stylesheets/eaglerex.css" media="all" /-->
    <link rel="preload" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic-fonts.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic-fonts.min.css"></noscript>
    <link rel="preload" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic-colours.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic-colours.min.css"></noscript>
    <link rel="preload" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://unpkg.com/skeletonic@1.1.1/dist/skeletonic.min.css"></noscript>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ site_url }}/favicon.ico" >
    <link rel="apple-touch-icon" href="{{ site_url }}/favicon.ico">

    <!-- RSS / Atom -->
    <link rel="alternate" type="application/rss+xml" href="{{ site_url }}/feed.xml" />
    <link rel="alternate" type="application/atom+xml" href="{{ site_url }}/atom.xml" />

    <link rel="alternate" type="application/json" title="{{ site.title }}" href="{{ site_url }}/api.json">
    
</head>
