# Indicate our custom error document
ErrorDocument 404 /404.html

# Prevent any rogue directory listings from showing up
Options -Indexes

# To make video streaming on Safari with Cloudflare CF
SetEnvIfNoCase Request_URI .(mp4|ogv|webm)$ no-gzip dont-vary
